 



        body{
            background-image:url(111.jpg);
            background-repeat: no-repeat;
            background-position:bottom;
            }
        	

        h1{color: red;}
        
        body{background-color: #F0FFFF;}

        h2{color:green;}

        h3{color:blue;}

        h4{color:purple;}

        body.margin {margin: 2cm 4cm 3cm 4cm}

        a:link{
            color:#FF0000;
            text-decoration: underline;
        }
        a:hover {
         color:#00FF00;
         text-decoration: none;
       }
       p{
        font-family:"宋体"；
        }
